<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">

	
	<context:annotation-config/>




<!-- Definition for profile bean -->
<bean id = "profile"  class = "com.example.Student">
<!-- Definition for the student1 bean -->
<bean id = "student1"  class= "com.example.Student">
   <property name = "name"  value = "Bhavani"/>
   <property name = "age"   value = "21"/>
</bean>
<!--  Definition for the student2 bean -->
<bean id = "student2"  class = "com.example.Student">
   <property name = "name"     value = "Chandru"/>
   <property name = "age"   value = "21"/>
   
</bean>
</bean>
</beans>
